body {
    padding: 0;
    margin: 0;
    font-family: "Exo 2", sans-serif;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: blanchedalmond;
    background: linear-gradient(99.6deg, rgb(112, 128, 152) 10.6%, rgb(242, 227, 234) 32.9%, rgb(234, 202, 213) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
}

.foto-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 8px;
    margin: 24px;
}

.picture-box {
    display: flex;
    margin: 0;
}

.picture-box img {
    height: 200px;
    border-radius: 20px;
    box-shadow: 5px 6px 11px 3px #9C9797; 
}

.picture-box:hover {
    cursor: pointer;
    opacity: 0.7;
    border-radius: 20px;
    box-shadow: 0 0 15px #EF96A4;
    filter:  blur(2px) brightness(81%) hue-rotate(44deg) saturate(158%);
}

.open-image {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.currentImage {
    width: 680px;
}

.icons {
    cursor: pointer;
    width: 50px;
    transition: transform 0,3s, opacity 0,3s;
}

.icons:hover {
    transform: scale(1,1);
    opacity: 0,7;
}

footer {
    width: 100%;
    background: linear-gradient(99.6deg, rgb(112, 128, 152) 10.6%, rgb(242, 227, 234) 32.9%, rgb(234, 202, 213) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
    display: flex;
    align-items: center;
    justify-content: end;
}

h3 {
    color: blue;
    margin: 24px;
}