body {
    padding: 0;
    margin: 0;
    font-family: "Exo 2", sans-serif;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: blanchedalmond;
    background: linear-gradient(90deg, rgba(2,12,70,1) 34%, rgba(253,29,29,1) 71%, rgba(232,27,7,1) 94%);    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    text-shadow: -1px -1px 0 #707070, 1px -1px 0 #707070, -1px 1px 0 #424242, 1px 1px 0 #3a3434;
}

.foto-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 8px;
    margin: 24px;
}

.picture-box {
    display: flex;
    margin: 0;
}

.picture-box img {
    height: 200px;
    border-radius: 20px;
    box-shadow: 5px 6px 11px 3px #9C9797; 
}

.picture-box:hover {
    cursor: pointer;
    opacity: 0.7;
    border-radius: 20px;
    box-shadow: 0 0 15px #EF96A4;
    filter:  blur(2px) brightness(81%) hue-rotate(44deg) saturate(158%);
}

.open-image {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.current-image {
    width: 680px;
}

.icons {
    top: 50%;
    left: 10px;
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 99;
    cursor: pointer;
    transform: translateY(-50%);
}

.icons-forward {
    top: 50%;
    right: 10px;
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 98;
    cursor: pointer;
    transform: translateY(-50%);
}
 
.icons:hover {
    transform: scale(1,1);
    opacity: 0,7;
}

.close-icon {
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 100;
    cursor: pointer;
}

.close-icon:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

.close {
    top: 79px;
    right: 10px;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 100;
    cursor: pointer;
    filter: brightness(50%);
}

footer {
    width: 100%;
    background: linear-gradient(99.6deg, rgb(112, 128, 152) 10.6%, rgb(242, 227, 234) 32.9%, rgb(234, 202, 213) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
    display: flex;
    align-items: center;
    justify-content: end;
}

h3 {
    color: blue;
    margin: 24px;
}

.kostenlose-icons {
    text-decoration: none;
    margin: 10px;
    color: black;
}

@media(max-width: 1400px) {
    .current-image {
        width: 800px;
    }

    .icons,
    .icons-forward {
        height: 42px;
    }
}

@media(max-width: 950px) {
    .current-image {
        width: 600px;
    }
}

@media(max-width: 768px) {
    h1 {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .current-image {
        width: 450px;
    }

    .icons,
    .icons-forward {
        width: 30px;
        height: 30px;
        left: 3px;
        right: 3px;
        transform: translateY(-50%);
    }

    .icons-forward {
        left: auto;
    }
}

@media(max-width: 550px) {
    .current-image {
        width: 450px;
    }

    .foto-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .picture-box img {
        width: 250px;
    }
}

@media(max-width: 400px) {
    .current-image {
        width: 200px;
        height: 250px;
        object-fit: cover;
    }

    .icons,
    .icons-forward {
        margin: 0 5px;
    }

    .icons {
        left: 5px;
    }

    .icons-forward {
        right: 5px;
    }
}